.PosterImg {
  width: 240px;
  height: auto;
  padding-top: 12px;
}

.MovieTitle {
  color: #3f51b5;
}

.MovieH2 {
  color: #3f51b5;
}

.MovieH3 {
  color: #3f51b5;
}

.MovieText {
  font-style: italic;
}
