.Container {
  max-width: 1280px;
  padding-top: 8px;
  padding-right: 32px;
  padding-left: 32px;
}

.NavLink {
  font-size: 32px;
  text-decoration: none;
  margin-right: 25px;
  color: #3f51b5;
}

.activeNavLink {
  padding: 4px;
  color: aliceblue;
  background-color: #3f51b5;
  font-size: 32px;
  text-decoration: none;
  margin-right: 25px;
  border-radius: 8px;
}
